.whyChoseMe {
    margin-top: 1em;
    width: 100%;
    overflow: hidden;
}

.whyChoseContainer {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 4em;
}

.whyChoseMe h1 {
    font-size: 28px;
}

.sectionTitle {
    text-align: center;
    font-size: 55px !important;
    letter-spacing: 1px;
    font-family: 'Vollkorn SC', serif;
}

.characteristics {
    width: 170px;
    height: auto;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.charL {
    display: grid;
    justify-content: flex-end;
}

.charcteristicL, .charcteristicR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.charcteristicR {
    flex-direction: row;
}

.C1 {
    position: relative;
    left: 20px;
}

.C3, .C4 {
    position: relative;
    right: 30px;
}

.C4 img {
    position: relative;
    left: 10px;
}

.characteristics img {
    max-width: 100%;
    height: auto;
}

.col1 {
    position: relative;
    width: 30%;
    top: -50px;
}

.col2 {
    position: relative;
    width: 40%;
    height: 100%;
}

.choseMePoseidon {
    position: relative;
    right: 20px;
    width: 100%;
    transform: scale(1.3);
}