* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-blue: #007ccc;
  --bg: #0d0d10;
  --white: #ffffff;
}

@font-face {
  font-family: 'Cottsmic';
  src: url('https://fonts.cdnfonts.com/css/cottsmic');
}

body {
  margin: 0;
  font-family: 'Cottsmic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--white);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
