.Portfolio {
    width: 100%;
    margin-top: 5em;
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 3em;
    padding-bottom: 8em;
}

.Portfolio::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.Portfolio h1 {
    text-align: center;
    font-size: 55px;
    letter-spacing: 1px;
    font-family: 'Vollkorn SC', serif;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2em;
}

.portfolioContainer {
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(100px);
}

.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.project {
    width: 450px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.project>img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #adadad87;
    cursor: pointer;
    transition: all 0.5s ease;
}

.project>img:hover {
    transform: scale(0.95);
}

.waterElement1, .waterElement2 {
    position: absolute;
    max-width: 100%;
    width: 150px;
    z-index: 3;
}

.waterElement1 {
    top: 100px;
    left: 20px;
}

.waterElement2 {
    bottom: 100px;
    right: 30px;
}

.popUpContainer {
    position: relative;
}

.myPopUp {
    position: relative;
    background-color: var(--bg);
    border: 3px solid var(--white);
    border-radius: 10px;
    height: 320px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)) brightness(90%);
}

.popup-content {
    z-index: 50 !important;
    position: fixed !important;
    top: 10% !important;
    left: 20% !important;
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
  
@keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1.2) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--white);
    padding: 8px 10px;
    border: 3px solid var(--white);
    border-radius: 3px;
    background: linear-gradient(180deg, rgb(0, 162, 198) 0%, rgb(0, 83, 172) 40%, rgb(0, 21, 113) 100%);
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
}

.closeBtn:hover {
    transform: scale(0.9);
}

.bluredSection {
    filter: brightness(0.5) blur(10px);
}

.carousel .slider {
    height: 320px;
}

.carousel-status {
    display: none;
}

.popUpSlider {
    width: 60%;
}

.popUpInfo {
    width: 40%;
    padding: 30px;
}

.sliderImages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sliderImages img {
    height: 100%;
    object-fit: cover;
}

.popUpInfo h1 {
    font-size: 21px;
}

.popUpInfo h3 {
    font-size: 18px;
}

.popUpInfo p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.popBtn {
    font-family: 'Vollkorn SC', serif;
	font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    border: 3px solid var(--white);
	z-index: 1;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 2px;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(180deg, rgb(0, 162, 198) 0%, rgb(0, 83, 172) 40%, rgb(0, 21, 113) 100%);
    cursor: pointer;
    transition: all 0.5s ease;
}

.popBtn:hover {
    transform: scale(0.9);
}

.PoseidonPopUpL {
    position: absolute;
    left: -10em;
    top: 15em;
    width: 350px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2)) brightness(90%);
    opacity: 0;
    animation: fadeInFromLeft 2s ease forwards;
}
  
@keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.PoseidonPopUpM {
    position: absolute;
    top: 13em;
    left: 30%;
    width: 220px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2)) brightness(90%);
    opacity: 0;
    animation: fadeInM 2s ease forwards;
}
  
@keyframes fadeInM {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.PoseidonPopUpR {
    position: absolute;
    top: 14em;
    right: 6.5em;
    width: 400px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2)) brightness(90%);
    opacity: 0;
    animation: fadeInFromRight 2s ease forwards; 
}
  
@keyframes fadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .project {
        width: 575px;
    }
}

@media screen and (max-width: 500px) {
    .Portfolio {
        padding-left: 1em;
        padding-right: 1em;
    }
    .Portfolio h1 {
        font-size: 40px;
    }
    .waterElement1 {
        width: 100px;
        left: -10px;
    }
    .waterElement2 {
        width: 100px;
        right: -5px;
    }
    .myPopUp {
        display: block;
        height: 550px;
        width: 90%;
    }
    .carousel .slider {
        height: 200px;
    }
    .PoseidonPopUpL, .PoseidonPopUpM, .PoseidonPopUpR {
        display: none;
    }
    .popUpSlider, .popUpInfo {
        width: 100%;
    }
    .popUpInfo {
        padding: 15px;
    }
    .popUpInfo h1 {
        font-size: 20px;
    }
    .popUpInfo h3 {
        font-size: 17px;
    }
    .popUpInfo p {
        font-size: 13px;
    }
    .popup-content {
        top: 8% !important;
        left: 11% !important;
    }
}