.introduction {
  height: 800px;
  position: relative;
  margin-top: -5em;
}

.title-section {
  position: absolute;
  bottom: 10em;
  left: 4em;
}

.mainTitle {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: break-word;
  z-index: 2;
}

.mainTitle-2 {
  font-size: 50px;
  background-image: linear-gradient(to right, #ad20ff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-me img {
  width: 100%;
  max-width: 100%;
  position: fixed;
  right: -39%;
  bottom: -18%;
  height: 500px;
  transform: scale(0.4);
  filter: drop-shadow(2px 2px 2px #b0b0b0b3);
  object-fit: contain;
  z-index: 50;
}

@media screen and (max-width: 500px) {
  .title-section {
    left: 4em;
    bottom: 6em;
  }
  .mainTitle {
    font-size: 45px;
  }
  .mainTitle-2 {
    font-size: 35px;
  }
  .contact-me {
    display: none;
  }
}